$sideNavbar_border : lightgray ;
$sideNavbar_border_top : black;
$sideNavbar_tag_color : #818181 ;
$sideNavbar_tag_hover_color : #f1f1f1 ;
$sideNavbar_background : #fff;
$chat_room_border_left : #cacaca;
$selected_user_color : #5e6e82;
$selected_user_details_color : #5e6e82;
$sender_background_color : #fca605;
$chat_background_border_color : green;
$meet_div_bg  : #0000009c;
$meet_div_color : lightgray;
$chat_btn_called_bg : red;
$my_time_color : #b6c1d2;
$delete_button_color : #ff8a8a;
$inActiveEmoji_fill_color : yellow;
$loginform_bg : aliceblue ;
$custom_control_label : #5e6e82 ;
$refresh-button_bg : #ff9933;
$hr_tag_bg : grey;
$selcted_user_border_left : #41eb99;
$nav_button_outer_color : #bebebe ;
$qna_background_color : #f2f2f2;
$qna_question_color : #575656;

$primary-Background:#434242;
$secondary-Background:#4F4F4E;
$horizontal-Background:#545454;
$primary-fontColor:#CBCCCC;
$primary-border:#504F4F;
$heading-fontsize:22px;
$primary-fontsize:14px;
$primary-roomheader:#5B5B5B;
$fullRoomcolor:#E04924;
$primary-color:#ffffff;
$btnPrimary:#5B5B5B;
$primary-timer:#727271;
$primary-green:#049647;
$img_background : #4d4d4d;
$qna_notification_bg : #d9d9d9;
$topnav_bg : #5b5b5b;
