#root{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.chatWindowOpen{
    position: fixed;
    bottom: 0;
    height: 75vh;
    width: 375px;
    right: 100px;
    border:1px solid lightgrey;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: 0.5s;
    z-index: 99 !important;
}

.chatWindowClosed{
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 375px;
  right: 100px;
  transition: 0.5s;
  z-index: 99 !important;
  /* border:1px solid whitesmoke; */
}

/* //attendees// */

.navigationTab{
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 60px;
    z-index: 99 !important;
}

.nav-tabs {
  background: #f1f1f1;
  margin-bottom: 0 !important;
}

.nav-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.nav-link {
  border: none !important;
}

.nav-link.active {
  background-color: #5B5B5B !important;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
  /* border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important; */
}


.attendeeDiv{
    background-color: whitesmoke;
    overflow-y: scroll;
    height: 65vh;
}

.attendeeDiv::-webkit-scrollbar {
    display: none;
}

.pollDiv {
  background-color: whitesmoke;
  overflow-y: scroll;
  height: 69vh;
}

.pollDiv::-webkit-scrollbar {
  display: none;
}

.qnaDiv {
  background-color: whitesmoke;
  overflow-y: scroll;
  height: 64vh;
  position: relative;
}

.qnaDiv::-webkit-scrollbar {
  display: none;
}

/* // chatMessages // */

.chatMessageDiv {
  overflow-y: scroll;
  height: 59vh;
  background: whitesmoke;
  display: flex;
  flex-direction: column-reverse;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatMessageDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.chatMessageDiv {
  -ms-overflow-style: none;
}

.receiver {
  /* background-color: darkseagreen; */
  display: flex;
  justify-content: left;
  padding: 5px;
}

.sender {
  /* background-color: yellow; */
  display: flex;
  justify-content: right;
  padding: 5px;
}

.userListDiv {
  overflow-y: scroll;
  height: 59vh;
}

.userListDiv::-webkit-scrollbar {
  display: none;
}


